<template>
  <nav>
    <a href="/"  id="logo"></a> 
    <burger-icon></burger-icon>
    <ul>
      <li>
        <input type="checkbox"
          id="Broadband"
          value="Broadband"
          v-model="filter"
          @change="filterUpdated"/>
        <label for="Broadband">Broadband</label>
      <li>
        <input type="checkbox"
          id="TV"
          value="TV"
          v-model="filter"
          @change="filterUpdated"/>
        <label for="TV">TV</label>
      <li>
        <input type="checkbox"
          id="Mobile"
          value="Mobile"
          v-model="filter"
          @change="filterUpdated"/>
        <label for="Mobile">Mobile</label>
      </li>
    </ul>
  </nav>
</template>
<<script>

import BurgerIcon from 'components/menu/burger-icon'

export default {
  components: {
    burgerIcon: BurgerIcon
  },
  data: function () {
    return {
      filter: []
    }
  },
  methods: {
    filterUpdated: function () {
      this.$emit('filter-updated', this.filter)
    }
  }
}

</script>
