<template>
  <div>
    <div class="title">{{deal.title}}</div>
    <div>{{deal.contractLength}} Months</div>
    <broadband-offer :speed="speed" :usage="usage"/>
    <offer-logo :logoUrl="offerLogo"/>
    <tv-offer :logos="popularChannels"/>
    <mobile-offer :deal="mobile"/>
    <div>{{cost}}</div>
  </div>
</template>

<script>
import _ from 'lodash'
import BroadbandOffer from 'components/tiles/broadband-offer'
import OfferLogo from 'components/tiles/offer-logo'
import TvOffer from 'components/tiles/tv-offer'
import MobileOffer from 'components/tiles/mobile-offer'

export default {
  props: {
    deal: {
      default: function () {
        return { }
      }
    }
  },
  computed: {
    offerLogo: function () {
      return _.get(this, 'deal.offer.smallLogo', null)
    },
    speed: function () {
      return _.get(this, 'deal.speed.label', null)
    },
    usage: function () {
      return _.get(this, 'deal.usage.label', null)
    },
    mobile: function () {
      return this.deal.mobile ? {
        data: _.get(this, 'deal.data.label', null),
        minutes: _.get(this, 'deal.minutes.label', null),
        texts: _.get(this, 'deal.texts.label', null),
        connectionType: _.get(this, 'deal.connectionType.label', null)
      } : null
    },
    popularChannels: function () {
      return this.deal.popularChannels ? this.deal.popularChannels.map(c => c.logo) : []
    },
    cost: function () {
      const prices = this.deal.prices ? this.deal.prices : []
      return prices[0] ? prices[0].totalContractCost || null : null
    }
  },
  components: {
    broadbandOffer: BroadbandOffer,
    offerLogo: OfferLogo,
    tvOffer: TvOffer,
    mobileOffer: MobileOffer
  }
}

</script>

<style>
</style>
