<template>
  <div v-if="offerAvailable">
    <p>{{deal.data}}</p>
    <p>{{deal.minutes}}</p>
    <p>{{deal.texts}}</p>
    <p>{{deal.connectionType}}</p>
  </div>
  <div v-else>
    <p>N/A</p>
  </div>
</template>

<script>
  export default {
    props: ['deal'],
    computed: {
      offerAvailable: function () {
        return true && this.deal
      }
    }
  }
</script>
