<template>
  <div v-if="offerAvailable">
    <p>{{speed}} MB</p>
    <p>{{usage}}</p>
  </div>
  <div v-else>
    <p>N/A</p>
  </div>
</template>

<script>
  export default {
    props: ['speed', 'usage'],
    computed: {
      offerAvailable: function () {
        return this.speed || this.usage
      }
    }
  }
</script>
