<template>
  <div class="app">
    <main-menu @filter-updated="updateFilter"/>
    <main>
      <div class="main-grid">
        <grid-row 
          v-for="deal in filteredDeals" 
          :deal="deal"
          :key="deal.id" />
      </div>
    </main>
  </div>
</template>

<script>
import fetch from 'isomorphic-fetch'
import filter from 'filter-function'
import MainMenu from 'components/menu/main-menu'
import GridRow from 'components/grid/grid-row'

var service = (function () {
  return {
    fetchDeals: () => {
      return fetch('/assets/deals.json')
        .then(response => response.json())
        .then(result => result.deals)
    }
  }
})()

export default {
  data: function () {
    return {
      deals: [],
      filter: []
    }
  },
  computed: {
    filteredDeals: function () {
      return this.deals.filter(deal => filter(this.filter, deal.productTypes))
    }
  },
  created: function () {
    service.fetchDeals().then(deals => {
      this.deals = deals
    })
  },
  components: {
    mainMenu: MainMenu,
    gridRow: GridRow
  },
  methods: {
    updateFilter: function (newFilter) {
      this.filter = newFilter
    }
  }
}
</script>

<style lang="sass">

</style>
