<template>
  <div v-if="length">
    <div v-for="logo in logos">
      <img :src="logo"/>
    </div>
  </div>
  <div v-else="length">N/A</div>
</template>

<script>
  export default {
    props: {
      logos: {
        default: () => []
      }
    },
    computed: {
      length: function () {
        return this.logos ? this.logos.length : 0
      }
    }
  }
</script>
